:root {
    box-sizing: border-box;
}
#heading {
    text-align: center;
}
#mainplayarea {
    display:flex;
    border: 10px solid slategray;
    border-radius: 10px;
    width: 1200px;
    height: 425px;
    justify-content: space-evenly;
    margin-left: 65px;
}

.tower {
    display:flex;
    flex-direction: column-reverse;  
    align-items: center;
    border: 5px solid gray;
    border-radius: 10px;
    width: 300px;
    height: 400px;
    margin-top: 10px;
}
.disk {
    border: 2px solid black;
    border-radius: 35px;
    height: 60px
}
#disk1 {
    background-color: red;
    width: 45%;
}
#disk2 {
    background-color:yellow;
    width: 60%;
}
#disk3
 {
    background-color: blue;
    width: 75%;
}
#disk4 {
    background-color: orange;
    width: 90%;
}
#subtitlestart {
    display:flex;
}
#subtitleoffset {
    display:flex;
}
#subtitleend {
    display:flex;
}
.platform {
    background-color: black;
    border-radius: 10px;
    width: 296px;
    height: 20px
}
.diskarea {
    display:flex;
    flex-direction: column-reverse;  
    align-items: center;
    border-radius: 10px;
    width: 300px;
    height: 298px;
}

#winningDiv {
    width: 100%;
    text-align: center;
    font-size: 40px;
    margin: 10px;
}